* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #f2f2f2;
    --dark-color: #5c5c5c;
    --button-color: #ebebeb;
    --hover-button-color: #262626;
    --border-color: #292929;
}

button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: black;
    color: inherit;
}

button:hover {
    background: var(--hover-button-color);
}

html {
    font-family: sans-serif, system-ui;
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.display {
    display: flex;
    flex-direction: column;
}

.display > div {
    flex: 1;
}

.player {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.player .lifepoints {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 2px solid white;
}

.player .lifepoints-controls {
    flex: 1;
    display: flex;
}

.lifepoints-controls button {
    flex: 1;
    font-size: 4rem;
    padding: 1rem;
}

.lifepoints-controls .subtract {
    font-size: 5rem;
}

.controls {
    display: flex;
    border: 2px solid var(--border-color);
}

.controls .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    flex: 1;
}

.buttons button {
    font-size: 4rem;
}

.buttons .calc-display {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    font-size: 4rem;
    border: 2px solid var(--border-color);
}

button#new-game {
    background: #cf3535;
    font-size: 2.5rem;
    grid-column: 3 / 5;
}

button#new-game:hover {
    background: #a52828;
}