* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #f2f2f2;
    --dark-color: #474747;
    --button-color: #ebebeb;
    --hover-button-color: #bfbfbf;
    --border-color: #292929;
}

button {
    border: 2px solid var(--dark-color);
}

button:hover {
    background: var(--hover-button-color);
}

html {
    font-family: sans-serif, system-ui;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

.display {
    display: flex;
    flex-direction: column;
}

.display > div {
    flex: 1;
}

.player {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.player .lifepoints {
    flex: 2;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-left: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.player .lifepoints-controls {
    flex: 1;
    display: flex;
}

.lifepoints-controls button {
    flex: 1;
    font-size: 5rem;
}

.controls {
    background: var(--light-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 2px solid var(--border-color);
}

.controls .buttons {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-right: 2px solid var(--border-color);
}

.controls .timer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background: var(--light-color);
}

.lifepoints {
    background: var(--light-color);
}

.buttons button {
    font-size: 5rem;
}

.buttons .calc-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    grid-column: 3 / -2;
    border: 2px solid var(--border-color);
}

button#new-game {
    background: #cf3535;
    font-size: 2.5rem;
}

button#new-game:hover {
    background: #a52828;
}