* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #f2f2f2;
    --dark-color: #5c5c5c;
    --button-color: #ebebeb;
    --hover-button-color: #262626;
    --border-color: #292929;
}

button {
    border-radius: 8px;
    background-color: #c2c2c2;
    border: none;
    box-shadow: 2px 3px 8px #000000aa;
    font-family: inherit;
    font-size: 2rem;
}

button:hover {
    background: #929292;
}

button:focus {
    outline: 2px solid black;
}

html {
    font-family: system-ui, sans-serif;
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: #373737;
}

.display {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;
    gap: 1rem;
}

.display > div {
    flex: 1;
}

.player {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.player .lifepoints {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: linear-gradient(-40deg, #676767, #dddddd, #676767);
    border: 2px solid black;
    border-radius: 5px;
    color: #000000bb;
}

.player .lifepoints-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.controls {
    display: flex;
    border-top: none;
    padding: 0 1rem 1rem 1rem;
}

.controls .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    flex: 1;
}

.buttons .calc-display {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    font-size: 3rem;
    border: 2px solid black;
    background: linear-gradient(-40deg, #676767, #dddddd, #676767);
    border-radius: 5px;
    color: #000000bb;
}

button#new-game {
    background: #cf3535;
    grid-column: 4 / 5;
}

button#new-game:hover {
    background: #a52828;
}